Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.2.1
python-dotenv==1.1.1
email-validator==2.1.0
APScheduler==3.11.0
gunicorn==23.0.0
Werkzeug==3.0.6
requests==2.32.4
